body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

table {
    margin: 20px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}

td:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.clicked {
    background-color: rgba(0, 0, 0, 0.3);
}

.Boards-td{
}

.Boards-tr{
}

.text {
    font-family: Arial, sans-serif; 
    font-size: 16px; 
    color: #333; 
    line-height: 1.5; 
    margin-bottom: 10px; 
}

.button {
    display: inline-block; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-weight: bold; 
    text-align: center; 
    color: #fff; 
    background-color: #007bff; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.button:hover {
    background-color: #0056b3; 
}

